.logo{
    height: 45px;
    width: 120px;
    margin-left: 20px 0px ;
    margin-top: 20px;
}

.background{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 20px;
    padding: 30px;
    text-align: left;
    margin-bottom: 40px;
}
h1{
    color: #8CC8EE;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
    background-color: #8CC8EE;
    height: 200px;
    width: 500px;
    padding-left: 50px;
    padding-top: 30px;
    box-shadow: 20px 15px 10px gray;
    margin-bottom: 50px;
}

.menu{
    height: 200px;
    width: 300px;
}

button{
    background-color: azure;
    color: #8CC8EE;
}
button:hover{
    background-color: aquamarine;
    color: brown;
}